<div class="twelve columns main-content-l">
  <div class="search-form">

    <header class="title-box">
      <h2>OG &amp; meta parser</h2>
      <p class="subtitle">Just enter your site URL!</p>
    </header>

    <form action="/results" method="GET">
      <input type="text" name="site" placeholder="Go!"></input>
      <input type="submit" value="Send"></input>
    </form>

  </div>
</div>

<aside>
  <ul class="feature-l twelve columns">
    <li class="four columns">
      <header class="title-box">
        <i class="icon-search"></i>
        <h3>Search</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven</p>
      </header>
    </li>
    <li class="four columns">
      <header class="title-box">
        <img src="http://ogp.me/logo.png">
        <h3>Open Graph?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven</p>
      </header>
    </li>
    <li class="four columns">
      <header class="title-box">
        <i class="icon-html5"></i>
        <h3>Meta Tags?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven</p>
      </header>
    </li>
  </ul>
</aside>
