// -------------------------------------------
//   Feature List Layout
// -------------------------------------------

.feature-l {

  li {
    text-align: center;
  }

  img {
    height: 120px;
  }

  i {
    height: 120px;
    font-size: 80px;
    display: inline-block;
    line-height: 115px;
  }
}
